root = true

# BASE
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# C#
[*.{cs,csx}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{sln,slnx}]
indent_style = tab

#  JSON
[*.json]
indent_style = space
indent_size = 2

# YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown
[*.md]
trim_trailing_whitespace = false # Permite espaços em parágrafos
max_line_length = off
